.light-version {
  --colorbody: #f2f2f2;
  --headlinetext: #0c0e16;
  --paragraphtext: #858BB2;
  --nocolorbtn: #f2f2f2;
  --violetcolorbtn: #7c5dfa;
  --whitetext: #ffffff;
  --boxshadow: #48549F1A;
  --invoicetext: #7e88c3;
  --statusgreen: #33D69F;
  --statusorange: #ff8f00;
  --redcolorbtn: #EC5757;
  --paymentbackground: #F9FAFE;
  --darkpart: #373B53;
  --modalcolor: rgba(0, 0, 0, 0.5);
}

.edit {
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--modalcolor);
    /* display: none; */
  }
  
  .buttons-down-2 {
    background-color: var(--whitetext);
    width: 50%;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-top: 32px;
    padding-left: 155px;
    padding-right: 55px;
    position: fixed;
    left: 0; 
    bottom: 0;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  