.light-version {
  --colorbody: #f2f2f2;
  --headlinetext: #0c0e16;
  --paragraphtext: #858BB2;
  --nocolorbtn: #f2f2f2;
  --violetcolorbtn: #7c5dfa;
  --whitetext: #ffffff;
  --boxshadow: 0px 10px 10px -10px #48549F1A;
  --invoicetext: #7e88c3;
  --statusgreen: #33D69F;
}


main {
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: auto;
    margin-top: inherit;
    padding-top: 70px;
    display: none;
  }
  
  header {
    width: auto;
    display: flex;
    justify-content: space-around;
    margin: auto;
  }
  
  .headline-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .invoices {
    color: var(--headlinetext);
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -1px;
    margin: 0px;
  }
  
  p {
    font-size: 12px;
    font-weight: 500;
    color: var(--paragraphtext);
  }
  
  
  .headline-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
  
  .no-color-btn {
    background-color: var(--colorbody);
    width: 150px;
    height: 48px;
    border-radius: 20px;
    border: none;
    color: var(--headlinetext);
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    text-align: center;
  }
  
  .violet-btn {
    background-color: var(--violetcolorbtn);
    width: 150px;
    height: 48px;
    border-radius: 20px;
    border: none;
    color: var(--whitetext);
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    align-items: center;
    text-align: center;
    cursor: pointer;
  }
  
  .btn-plus {
    border: 1px solid var(--whitetext);
    padding: 10px;
    border-radius: 50%;
    background-color: var(--whitetext);
  }
  
  
  section {
    margin-top: 65px;
  }
  
  .item {
    width: 730px;
    background-color: var(--whitetext);
    display: flex;
    border-radius: 8px;
    align-items: center;
    justify-content: space-around;
    box-shadow: var(--boxshadow);
    padding: 16px 32px;
    margin-bottom: 16px;
    cursor: pointer;
  }
  
  .invoice-number {
    color: var(--headlinetext);
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    letter-spacing: 0.25px;
  }
  span {
    color: var(--paragraphtext);
  }
  
  .invoice-date {
    color: var(--invoicetext);
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    letter-spacing: 0.25px;
  }
  
  .invoice-name {
    color: var(--invoicetext);
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    letter-spacing: 0.25px;
  }
  
  .invoice-price {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.8px;
    font-weight: 700;
    color: var(--headlinetext);
  }
  .pound {
    color: var(--headlinetext);
  }
  
  .invoice-status {
    width: 105px;
    height: 40px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    letter-spacing: 0.25px;
    background-color: var(--colorbody);
    color: var(--statusgreen);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 8px;
    border-radius: 6px;
  }
  .circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--statusgreen);
  }
  .letter {
    color: var(--statusgreen);
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
  }
  
  .empty-page {
    width: 240px;
    margin: auto;
    margin-top: 140px;
  }
  
  h3 {
    font-size: 20px;
    margin-top: 60px;
  }
  
  .empty-page-text {
    width: 95%;
  }
  .bold {
    font-weight: 700;
  }
  