@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300&family=Spartan:wght@500;700&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Spartan', sans-serif;
  background-color: #f2f2f2;
  outline: none;
}


.light-version {
  --colorbody: #f2f2f2;
  --headlinetext: #0c0e16;
  --paragraphtext: #858BB2;
  --nocolorbtn: #f2f2f2;
  --violetcolorbtn: #7c5dfa;
  --whitetext: #ffffff;
  --boxshadow: #48549F1A;
  --invoicetext: #7e88c3;
  --statusgreen: #33D69F;
  --statusorange: #ff8f00;
  --redcolorbtn: #EC5757;
  --paymentbackground: #F9FAFE;
  --darkpart: #373B53;
}

.dark-version {
  --colorbody: #000000;
  
}
